@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.nav{
    display: flex;
    justify-content: space-between;
    height: 70px;
    /* background-color: orange; */
    align-items: center;
    margin: 0 20px 0 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
ul{
    display: flex;
    list-style: none;
    gap: 50px;
}
nav a:hover{
   color: orange;
}
a{
    text-decoration: none;
    color: blue;
}
h1{
    color: black;
}
nav span{
    color: blue;
}
.hero{
    background-image:url(./projectpics1.jpg);
    /* background-color: black; */
    /* background-repeat: no-repeat; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 580px;
    width: 100%;
    color: white;
}
.hero h1{
    color: white;
    font-size: 50px;
    color: aqua;
}
.hero p{
    font-size: 25px;
    text-align: center;
    color: aqua;
}

